#!/usr/bin/env bash

########################################################################
# File managed by Salt at <{{ source }}>.
# Your changes may be overwritten.
########################################################################

java -jar {{ path }}/yed.jar
